.html{
    font-size: 62.5%;
}

:root{

    --color-primary:#545353;
    --color-secondary: #a7a4a4;
    --color-accent :#4eabfc;
}

body{
    font-family: 'Wix Madefor Text', sans-serif;
}

section{
    margin:5px 0;

}
.grid-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
    padding: 0 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--color-primary);
    background: hsl(50, 37%, 97%);
    border-radius: 20px;
    width: 90vw;
    height: 20vh;
    justify-items: center;
    overflow: hidden;
  
}

.temperature, .humidity,.wind{
    margin-top: 30px;
}
.grid-item{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-accent);
    opacity: 1;
    letter-spacing: 1px;
    text-align: center;
}

/*
.temperature:hover .item-temp,
.humidity:hover .item-humidity,
.wind:hover .item-wind,
.temp:hover hr,
.humidity:hover hr,
.wind:hover hr{
    opacity: 1;

}
*/
/*
.header-temp:hover ~.item-temp,
.header-humidity:hover ~.item-humidity,
.header-wind:hover ~.item-wind,
.header-temp:hover ~ hr,
.header-humidity:hover ~ hr,
.header-wind:hover ~ hr{
    opacity: 1;
    color: dodgerblue;
}
*/
.header-temp:hover,
.header-humidity:hover,
.header-wind:hover{
    color: rgb(30, 28, 28);

}
