.html{
    font-size: 62.5%;
}

:root{

    --color-primary:#545353;
    --color-secondary: #a7a4a4;
    --color-accent :#4eabfc;
}

body{
    font-family: 'Wix Madefor Text', sans-serif;
}

/*map section*/
.container{
    display: block;
    position: relative;
    text-align: center;
   
}
.map{
    width: 100vw;
    border: solid 1px gray;
    border-radius: 20px; 
}

.north{

   position:absolute;
   top: 12%;
   right: 55%;

}

.south{
    position:absolute;
    bottom: 45%;
    right: 50%;
}

.east{
    position:absolute;
    bottom: 60%;
    right: 20%;

}

.west{
    position:absolute;
    bottom: 60%;
    left: 18%;

}

.central{
    position:absolute;
    bottom: 63%;
    left: 40%;
    
}


.region{
    font-size: 1.5rem;
   
}

/*info section*/


.grid-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
    padding: 0 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--color-primary);
    background: hsl(50, 37%, 97%);
    border-radius: 20px;
    justify-items: center;
    overflow: hidden;
    width: 100vw;
    height: 20vh;
  
}

.temperature, .humidity,.wind{
    margin-top: 30px;
}
.grid-item{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-accent);
    opacity: 1;
    letter-spacing: 1px;
    text-align: center;
}

/*
.temperature:hover .item-temp,
.humidity:hover .item-humidity,
.wind:hover .item-wind,
.temp:hover hr,
.humidity:hover hr,
.wind:hover hr{
    opacity: 1;

}
*/
/*
.header-temp:hover ~.item-temp,
.header-humidity:hover ~.item-humidity,
.header-wind:hover ~.item-wind,
.header-temp:hover ~ hr,
.header-humidity:hover ~ hr,
.header-wind:hover ~ hr{
    opacity: 1;
    color: dodgerblue;
}
*/
.header-temp:hover,
.header-humidity:hover,
.header-wind:hover{
    color: rgb(30, 28, 28);

}
