<div class="container map-layout">
	<img
		class="map"
		src="images/singapore-3.png"
		alt=""
	/>
	<div
		class="region north"
		id="north"
	></div>
	<div
		class="region south"
		id="south"
	></div>

	<div
		class="region east"
		id="east"
	></div>
	<div
		class="region west"
		id="west"
	></div>

	<div
		class="region central"
		id="central"
	></div>
	<img
		class="profile"
		src="https://media.licdn.com/dms/image/D5603AQFnCdsZH6BnOQ/profile-displayphoto-shrink_800_800/0/1685265622871?e=1691020800&v=beta&t=ntmagidJb-_Hmr_akObO6PntlUFWOEdgw2YA_ej3YGU"
		alt=""
	/>
</div>
