<div class="flex-container-humidity-wind-temp">
	<button class="btn-item">
		<span id="temp-icon">
			<img
				style="width: 10px"
				src="images/thermometer2.png"
				alt=""
			/>
			TEMPERATURE
		</span>
		<span class="item-temp"></span>
		<span
			style="
				font-size: 0.5rem;
				color: #bedffb;
				display: block;
				letter-spacing: 1px;
			"
			>°C</span
		>
	</button>
	<button class="btn-item">
		<span id="wind-icon">
			<img
				style="width: 10px"
				src="images/wind-white.png"
				alt=""
			/>
			WIND
		</span>
		<span class="item-wind"></span>
		<span
			style="
				font-size: 0.3rem;
				color: #bedffb;
				display: block;
				letter-spacing: 1px;
			"
			>KM/H</span
		>
	</button>
	<button class="btn-item">
		<span id="humidity-icon">
			<img
				style="width: 10px"
				src="images/humidity2.png"
				alt=""
			/>
			HUMIDITY
		</span>
		<span class="item-humidity"></span>
		<span
			style="
				font-size: 0.5rem;
				color: #bedffb;
				display: block;
				letter-spacing: 1px;
			"
			>%</span
		>
	</button>
</div>
